.sidenav-li {
	height: 50px;
	width: 100%;
	font-size: medium;
	color: #000;
	text-align: left;
	text-transform: capitalize;
	padding-right: 0;
	margin: 2.5px 0px;
	border-radius: 0 !important;
}

.sidenav-li:hover {
	background-color: rgba(0, 0, 0, .1);
}

.sidenav-span {
	margin-left: 20px;
}

.li-icon {
	position: absolute;
	top: 0;
	right: 0;
	
	font-size: 100px !important;
	z-index: -1;
}

.modal-trigger {
	padding: 0;
}